<div class="row">
  <div class="columns large-3">
    <div class="m-bottom">
      <%= wizard_aside_link_to_back %>
    </div>
    <div class="section">
      <p>
        <%= wizard_aside_info_text %>
      </p>
    </div>
    <div class="show-for-large">
      <%= proposal_wizard_stepper %>
    </div>
  </div>

  <div class="columns large-6">
    <%= cell(Decidim::AnnouncementCell, announcement) %>
    <div class="proposal_wizard_help_text">
    <%= cell(Decidim::AnnouncementCell, help_text) %>
    </div>
    <h2 class="section-heading">
      <%= proposal_wizard_step_title %>
      <%= "(#{similar_resources.count})" if similar_resources.present? %>
    </h2>
    <div class="hide-for-large m-bottom">
      <%= proposal_wizard_current_step %>
      <ol id="steps" class="wizard__steps steps-toggle is-hidden" data-toggler=".is-hidden">
        <%= proposal_wizard_stepper %>
      </ol>
    </div>
    <div class="card">
      <div class="card__content">
        <%= render :form %>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>

<%= javascript_include_tag "decidim/proposals/add_proposal" %>
