<div class="row">
  <%= render :wizard_aside %>
  <div class="columns large-6">
    <%= render :wizard_header %>
    <%= render :create if step?(1) %>
    <%= render :compare if step?(2) %>
    <%= render :complete if step?(3) %>
    <%= render :preview if step?(4) %>
  </div>
  <div class="columns large-3"></div>
</div>
<%= javascript_include_tag "decidim/proposals/add_proposal" if step?(1) || step?(3) %>
